@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;900&display=swap');

*{
     box-sizing: border-box;
     margin: 0%;
     padding: 0%;
     font-family: 'Bodoni Moda'sans-serif;
}

span{
     font-size: 1.5rem;
     border: 1px solid white;
     padding: 5px;
     border-radius: 10px;
     
}


nav{
     background-color: black;
     width:1351px ;
     height: 70px;
     color: white;
     display: flex;
     flex-direction: row;
     padding: 20px;
     align-items: center;
     justify-content: space-between;
}


a{
      text-decoration: none;
      color: white;
      font-size: 1.5rem;
      transition: all 0.2s ease-in-out;
      
}

a:hover{
           transform: translateY(10px);
}


i{
      font-size: large;
      margin: 5px;
}

.account{border-radius: 10px;
     border: 1px solid black;
     padding: 5px;
           transition: all 0.2s ease-in-out;
}

.account:hover{
     border-radius: 10px;
            border: 1px solid white;
            transform: translateY(0px);
            padding: 5px;
            color:black;
            background-color: white
            ;

}

.container{
          display: flex;
          flex-direction: row ;
          margin: 40px;
          gap: 50px;
          align-items: center;
          justify-content: center;

}

h2{
     background-color: rgba(56, 56, 56, 0.062);
     color: black;
     padding: 10px;
     width: fit-content;
     border-radius: 10px;
}

.cus_det{
          display: flex;
          flex-direction: column;
           overflow-y: scroll;    
           height: 400px;      
          gap: 27px;     
          width: fit-content;
          border: 1px solid rgba(112, 111, 111, 0.589);
          padding: 20px;

}


.cus_det > input{
      border: 1px solid rgba(43, 42, 42, 0.404);
      border-radius: 5px;

      width: 350px;
      height: 80px;


}

.cus_det::-webkit-scrollbar{
     width: 5px;
     background-color: white;
}

.cus_det::-webkit-scrollbar-thumb{
     background-color: black;
     border-radius: 100px;
}


input::placeholder{
     font-size: 1rem;
     padding: 5px;
}

input:hover{ 
     box-shadow:  0 1px 1px 0 rgba(100, 100, 100, 0.397);
}

input{
           font-size: 1rem;
           padding: 10px;
}

.items{
     width: fit-content;
     display: flex;
     flex-direction: column;
     gap: 10px;
     border: 1px solid rgba(112, 111, 111, 0.589);
     padding: 20px;
     overflow-y: scroll;    
           height: 400px; 

}

.items > input{
     align-self: flex-end;
     position: relative;
     top: 25px;
     cursor: pointer;
}

.items > label{
     align-self: flex-start;
     font-size: 1.1rem;

}

.items::-webkit-scrollbar{
      width: 5px;
      background-color: white;
}

.items::-webkit-scrollbar-thumb{
      background-color: black;
      border-radius: 100px;
}

.btn{ 

       background-color: white;
       border: 1px solid black;
       border-radius: 10px;
       width: fit-content;
       transition: all 0.2s ease-in-out;
       margin-bottom: 20px;
       cursor: pointer;
}

.btn:hover{

     background-color: black;
     color: white;

}